/* #finaltable * { color: white; background-color: black; } */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
#finaltable:hover td { background-color: rgb(0, 140, 186); }
tr:nth-child(odd) { background-color:#eee; }
tr:nth-child(even) { background-color:#00FF66; }
input { text-align: right; border: none; } /* Align input to the right */
#result { border-color: red; }
tr.error { background-color: red; }

html, body { font-size: 100%; }
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
}
h1 { font-size: 2.125rem; }
h2 { font-size: 1.6875rem; }
h3 { font-size: 1.375rem; }
a {
  color: rgb(0, 140, 186);
  text-decoration: none;
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
  line-height: inherit;
}
textarea {
    border-radius: 0px;
    background-color: white;
    font-family: inherit;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0px 0px 1rem;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -moz-box-sizing: border-box;
    transition: all 0.15s linear 0s;
}
textarea {
    height: auto;
    min-height: 50px;
}
table {
    background: none repeat scroll 0% 0% white;
    margin-bottom: 1.25rem;
    border-color: #6f6f6f;
}
th, td {
    margin: 0px;
    padding: 0px;
    direction: ltr;
}
button, .button {
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    line-height: normal;
    margin: 0px 0px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1.0625rem 2rem 1rem;
    font-size: 1rem;
    background-color: rgb(0, 140, 186);
    color: white;
    transition: background-color 300ms ease-out 0s;
    border: medium none;
    font-weight: normal !important;
}
.large-12 {
    position: relative;
    width: 100%;
}
.large-9 {
    position: relative;
    width: 75%;
}
.large-6 {
    position: relative;
    width: 50%;
}
.column, .columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}